
/* Box Model Hack */
* {
  box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
   background: rgb(254, 254, 254);
  
   margin: 8em;
  
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header, footer{
       border: 5px solid rgb(250, 6, 6);
       height: 60px;
       width: 60%;
       padding: 1em;
       margin: 0 auto;
  }
  
  main{
       width: 60%;
       border: 5px solid rgb(0, 26, 255);
       height: 100px;
       margin: 0 auto;
      
  }
  
  main section{
       border: 3px solid rgb(0, 255, 34);
       height: 90px;
       width: 33.33%;
       float: left;
      
  
  }
  
  .bottom{
       border: 5px solid rgb(230, 0, 255);
       height: 100px;
       width: 60%;
       margin: 0 auto;
    
     
  }
  
  .bottom > section{
       border: 3px solid rgb(21, 52, 25);
       height: 90px;
       width: 50%;
       float: left;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  