*{
    box-sizing: border-box;
}
header{
    border: 1px solid black;
    text-align: center;
   

}

section{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
   
}