.flex{
    display: flex;
}

.box{
    border: 1px solid blue;
    background-color: rgb(130, 130, 212);
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.flex{
    gap: 2rem; 

    flex: 1 1 50px;
    flex-wrap: wrap;
   
    
}
p{
    font-size:2rem;
    background: yellow;
}

.box:nth-child(3){
    flex-basis: 100px;
}