*{
    box-sizing: border-box;
}
header, footer{
    height: 100px;
    background-color: aqua;
    border:1px solid red;
    clear: both;
}

section{
    border: 1px solid gray;
    width: 33.3333%;
    height: 100px;
    float: left;
    background: yellowgreen;

}


